.comment  { color: #7a7e94; font-style: italic; }
.string   { color: rgb(244, 186, 119); }
.number   { color: #1ad716; }
.keyword  { color: #2880c9; font-weight: bold; }
.operator { color: #ff8c00; }
.function { color: #bdfe18; }
.expresion { color: #83ffec; }

.heza-code{
    white-space: pre-wrap;
    background-color: #19191b;
    padding: 15px;
    border-radius: 4px;
    color: white;
    overflow: auto;
    margin: 10px;
}
