/* style.css */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #333;
    background-color: #e5e5e5;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.feature-card {
    margin-left: 20px;
    margin-right: 20px;
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #007acc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn.secondary {
    background: #6c757d;
}

.header {
    margin-left: 20px;
    margin-right: 20px;
}

.header p {
    font-size: 1.1em;
    margin-left: 20px;
}

.header div{
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header div img{
    width: 100px;
    margin: 0px 30px 0px 0px;
}

.doc{
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
}

.download{
    margin-left: 20px;
}

h2{
    margin-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.menu {
    width: calc(100% - 20px);
    margin: 0px;
    background: #000000;
    color: white;
    padding: 1px 10px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.code{
    white-space: pre-wrap;
    background-color: #04040e;
    padding: 20px;
    border-radius: 10px;
    color: white;

}

.keyword{
    color: #4d84f4;
    font-weight: bold;
}

.operator{
    color: #ac4545;
    font-weight: bold;
}

.number{
    color: #67e38c;
    font-weight: bold;
}

.string{
    color: #f3aae9;
    font-weight: bold;
}
